<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convertir une image en PDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="heart-border">
        <div class="container">
            <h1>Convertir une image en PDF</h1>
            <form action="/convert" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".png, .jpg, .jpeg">
                <button type="submit">Convertir en PDF</button>
            </form>
        </div>
    </div>
</body>
</html>
